body{
    background-color: yellow;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 20px;
    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    from {box-shadow :1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}